@import './variables';

.modal-content, .modal-header, .modal-footer {
  background: $primary-background;
  padding: 0.75em;
}

.modal-header {
  color: $orange;
  border: 0;
}

.modal-content {
  color: $light-background;
}

.modal-body {
  border-bottom: 1px solid $primary;
  border-top: 1px solid $primary;
  border-radius: 1em;
}

.modal-footer {
  border: 0;
  color: $orange;
}

.close {
  color: $primary;
}