$primary-background: #232323;
$light-background: #e8e8e8;

/* custom boostrap variables */
$body-color: #000;
$primary: #00adff;
$primary-darker: darken($primary, 7%);
$secondary: #eee;
$orange: #ffa20c;
$orange-darker: darken($orange, 10%);
