node_modules/
.idea
dist/

# env variables
.env

# config files with .example files representing them in versioning
server/config/data-source.config.json
server/config/jwt.config.json
common/constants/app-config.js
