@import '../variables';

.authentication {
  color: $light-background;

  .main-authentication {
    border-top: 1px solid $primary-darker;
    border-bottom: 1px solid $primary-darker;
    border-radius: 0.66em;
  }
}

p.auth-success-message {
  text-align: center;
}
