@import '../variables';

.navbar-nav {
  flex-direction: row;
}

.navbar-brand-text {
  color: $light-background;
}

.navbar-toggler {
  border: 0;

  .navbar-toggler-text {
    color: $orange;
  }
}

.nav-toggle-icon {
  font-size: $size-4;
  color: $orange;
}

.navbar {
  li.nav-link {
    a {
      margin: 0 $size-1;
      color: $light-background;
      padding: 0.1rem 0;
      line-height: $size-2;
    }
  }

  li.active {
    a {
      margin: 0 $size-2;
      border-bottom: 2px solid $orange;
      font-size: $size-2;
    }
  }
}

#coasterLogo {
  vertical-align: middle;
  height: 50px;
  width: 50px;
  border: 3px solid $primary-background;
  border-right: 0;
  border-radius: 5px;
  margin-right: $size-3;
}
